body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #444;
  padding: 10px;
  min-width: 220px;
}

.statsList {
  padding: 0;
  list-style: none;
  line-height: 44px;
}
.statsList li {
  font-weight: 200;
  margin-bottom: 10px;
}
.statsList li em {
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  vertical-align: middle;
}

.actionsList {
  border-top: solid 1px #444;
  padding-top: 24px;
  margin-top: 24px;
  display: flex;
}
.action {
  flex: 1;
  text-align: center;
}
.action img {
  cursor: pointer;
}
